


/******************************************/
/* START - Education & Experience Section
/*****************************************/

.edu-expr-section {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  padding: 0px;
}

.edu-expr-header {
  width: 100%;
  margin: 20px 0px;
  background-color: #f7f9fc;
  border: none;
}

.edu-expr-header h2 {
  color: #333;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px;
}

/* Education and Experience Timelines Combine Container */
.edu-expr-content {
  width: 100%;
  margin: 20px 0px;
  background-color: #f7f9fc;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.education-timeline, .experience-timeline {
  max-width: 600px;
  width: 510px;
  margin-right: 20px;
  background-color: #f7f9fc;
  border-radius: 8px;
}

.education-header, .experience-header{
  width: 100%;
  margin: 20px 0px 40px;
  border: none;
}

.education-header h3, .experience-header h3 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

.edu-timeline-container, .expr-timeline-container  {
  display: flex;
  gap: 30px;
  width: 100%;
}

.edu-timeline, .expr-timeline {
  position: relative;
  max-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}

.edu-timeline::before, .expr-timeline::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #007BFF;
  z-index: 0;
}

.edu-node, .expr-node {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent; /* Initially transparent */
  border: 5px solid #007BFF; /* Consistent border size */
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.edu-node::before, .expr-node::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* Smaller circle to hide line */
  height: 10px;
  background-color: #f4f4f9; /* Matches background to hide the line */
  border-radius: 50%;
  z-index: 1;
}

.edu-node.edu-active, .expr-node.expr-active {
  background-color: black;
  border-color: black;
}

.edu-node.edu-hover, .expr-node.expr-hover {
  background-color: black;
  border-color: black;
}

.edu-cards, .expr-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.edu-card, .expr-card {
  width: 460px;
  height: 170px;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.edu-card.edu-active, .expr-card.expr-active  {
  background-color: lightblue;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.edu-card.edu-hover, .expr-card.expr-hover {
  background-color: lightblue;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}  

.edu-card h5, .expr-card h5  {
  margin: 0px 0px 10px;
  text-align: left;
  color: #007BFF;
  font-size: 14px;
}

.edu-card h3, .expr-card h3  {
  margin: 10px 0px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.edu-card h4, .expr-card h4  {
  margin: 10px 0px;
  text-align: left;
  color: #007BFF;
  font-size: 16px;
}

.edu-card p, .expr-card p {
  margin: 10px 0px 0px;
  text-align: justify;
  color: #666;
  font-size: 16px;
}


/* Small Mobile devices (up to 320px) */
/* Medium Mobile devices (321px to 375px) */
/* Large Mobile devices (376px to 425px) */

@media screen and (max-width: 425px) {

  .edu-expr-section {
    width: 100%;
    padding: 0 10px;
  }

  .edu-expr-header {
    width: 100%;
  }

  .edu-expr-header h2 {
    font-size: 24px;
  }  

  /* Education and Experience Timelines Combine Container */
  .edu-expr-content {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;
  }

  .education-timeline, .experience-timeline {
    width: 260px;
    margin-left: 20px;
    background-color: #f7f9fc;
  }

  .education-header, .experience-header {
    width: 100%;
    margin: 20px 0px 40px;
    border: none;
  }

  .education-header h3, .experience-header h3 {
    color: #333;
    font-size: 20px;
    text-align: center;
  }

  .edu-cards, .expr-cards  {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .edu-card, .expr-card {
    width: 100%;
    height: auto;
    padding: 5px;
  }

}



/* Small desktops (769px to 1024px) */

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .edu-expr-section {
    max-width: 1024px;
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
    padding: 0px;
  }

  .edu-expr-header {
    width: 100%;
    margin: 20px 0px;
    background-color: #f7f9fc;
    border: none;
  }

  .edu-expr-header h2 {
    color: #333;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px;
  }

  /* Education and Experience Timelines Combine Container */
  .edu-expr-content {
    max-width: 1024px;
    width: 100%;
    margin: 20px 0px;
    background-color: #f7f9fc;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
  }

  .education-timeline, .experience-timeline {
    max-width: 480px;
    width: 350px;
    margin-right: 20px;
    background-color: #f7f9fc;
    border-radius: 8px;
  }

  .education-header, .experience-header{
    width: 100%;
    margin: 20px 0px 40px;
    border: none;
  }

  .education-header h3, .experience-header h3 {
    color: #333;
    font-size: 24px;
    text-align: center;
  }

  .edu-timeline-container, .expr-timeline-container  {
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .edu-timeline, .expr-timeline {
    position: relative;
    max-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: transparent;
  }

  .edu-timeline::before, .expr-timeline::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #007BFF;
    z-index: 0;
  }

  .edu-node, .expr-node {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent; /* Initially transparent */
    border: 5px solid #007BFF; /* Consistent border size */
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .edu-node::before, .expr-node::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; /* Smaller circle to hide line */
    height: 10px;
    background-color: #f4f4f9; /* Matches background to hide the line */
    border-radius: 50%;
    z-index: 1;
  }

  .edu-node.edu-active, .expr-node.expr-active {
    background-color: black;
    border-color: black;
  }

  .edu-node.edu-hover, .expr-node.expr-hover {
    background-color: black;
    border-color: black;
  }

  .edu-cards, .expr-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .edu-card, .expr-card {
    width: 460px;
    height: 170px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .edu-card.edu-active, .expr-card.expr-active  {
    background-color: lightblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .edu-card.edu-hover, .expr-card.expr-hover {
    background-color: lightblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }  

  .edu-card h5, .expr-card h5  {
    margin: 0px 0px 10px;
    text-align: left;
    color: #007BFF;
    font-size: 14px;
  }

  .edu-card h3, .expr-card h3  {
    margin: 10px 0px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
  }

  .edu-card h4, .expr-card h4  {
    margin: 10px 0px;
    text-align: left;
    color: #007BFF;
    font-size: 16px;
  }

  .edu-card p, .expr-card p {
    margin: 10px 0px 0px;
    text-align: justify;
    color: #666;
    font-size: 16px;
  }

}



/* Large desktops (1025px to 1440px) */

@media screen and (min-width: 1025px) and (max-width: 1440px) {

  /* 1 Education Timeline */
  /* 1.1 Education Timeline Header */  
  /* 1.2 Education Timeline Content */

  
  /* 2 Experience Timeline */
  /* 2.1 Experience Timeline Header */
  /* 2.2 Experience Timeline Content */
  
}


